<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	                       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		                   http://www.springframework.org/schema/beans 
		                   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		                   http://www.springframework.org/schema/context 
		                   http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		                   
	<!-- JSR-303 support will be detected on classpath and enabled automatically -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="features">
				    <list>
				        <value>WriteMapNullValue</value>
				        <value>WriteDateUseDateFormat</value>
				        <value>WriteNullStringAsEmpty</value>
				    </list>
				</property>
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
		<mvc:argument-resolvers>
             <bean class="org.tools.life.support.PageableMethodArgumentResolver"></bean>
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<context:component-scan base-package="org.tools.life.web.controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<mvc:view-controller path="/" view-name="redirect:/home" />
	<mvc:resources mapping="/static/**" location="/static/" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- temp dir -->
	<bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
		<constructor-arg>
			<value>/apps/webapps</value>
		</constructor-arg>
	</bean>
	<!-- Configure the multipart resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="8388608" />
		<property name="maxInMemorySize" value="10240" />
		<property name="uploadTempDir" ref="uploadDirResource" />
	</bean>

	<!-- 异常处理 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error/error" />
		<property name="defaultStatusCode" value="500" />
		<property name="warnLogCategory"
			value="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" />
	</bean>
</beans>