<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <contextName>life</contextName>
    <property scope="context" name="CHARSET" value="UTF-8" />

    <property scope="context" name="appName" value="life"></property>
    <property scope="context" name="LOG_HOME" value="/oflogs" />
    <property scope="context" name="SRV_LOG_HOME" value="${LOG_HOME}/${appName}/srv" />
    <property scope="context" name="INF_LOG_HOME" value="${LOG_HOME}/${appName}/inf" />
    <property scope="context" name="APP_LOG_HOME" value="${LOG_HOME}/${appName}/app" />
    <property scope="context" name="ERR_LOG_HOME" value="${LOG_HOME}/${appName}/err" />
    <property scope="context" name="SRV_LOG_TABLE_NAME" value="boss_user_act_log" />
    <property scope="context" name="INF_LOG_TABLE_NAME" value="admin_boss_intf_log" />
    <property scope="context" name="APP_LOG_TABLE_NAME" value="admin_boss_system_log" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
    <property scope="context" name="SRV_PATTERN" value='%m%n' />
    <property scope="context" name="APP_PATTERN" value='|%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%M|%C\:%L|%thread|%replace(%.-2000msg){"(\r|\n)","\t"}|%ex{full}%nopex%n' />
    <property scope="context" name="INF_PATTERN" value='|%d{yyyy-MM-dd HH:mm:ss}|%d{SSS}|%m%n' />
    <property scope="context" name="ERR_PATTERN" value='${APP_PATTERN}' />

    <!-- ERROR日志文件 -->
    <appender name="ERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 只记录warn及以上级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${ERR_LOG_HOME}/err.${HOSTNAME}.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名，按天生成文件名 -->
            <fileNamePattern>${ERR_LOG_HOME}/err.${HOSTNAME}.%d{yyyy-MM-dd}.log.%i.zip</fileNamePattern>
            <MaxHistory>60</MaxHistory><!--日志文件保留天数 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 按时间回滚的同时，按文件大小来回滚 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${ERR_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 接口日志文件 -->
    <appender name="INF_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${INF_LOG_HOME}/inf.${HOSTNAME}.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INF_LOG_HOME}/${INF_LOG_TABLE_NAME}.${HOSTNAME}.%d{yyyy-MM-dd_HHmm}.log.%i</fileNamePattern>
            <MaxHistory>1440</MaxHistory><!--日志文件保存个数 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 按时间回滚的同时，按文件大小来回滚 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${INF_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- SRV日志文件 -->
    <appender name="SRV_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SRV_LOG_HOME}/srv.${HOSTNAME}.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SRV_LOG_HOME}/${SRV_LOG_TABLE_NAME}.${HOSTNAME}.%d{yyyy-MM-dd_HHmm}.log.%i
            </fileNamePattern>
            <MaxHistory>1440</MaxHistory><!--日志文件保存个数 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 按时间回滚的同时，按文件大小来回滚 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${SRV_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- 开发者日志文件 -->
    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_HOME}/app.${HOSTNAME}.ing</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${APP_LOG_HOME}/${APP_LOG_TABLE_NAME}.${HOSTNAME}.%d{yyyy-MM-dd_HHmm}.log.%i
            </fileNamePattern>
            <MaxHistory>1440</MaxHistory><!--日志文件保留个数 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 按时间回滚的同时，按文件大小来回滚 -->
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${APP_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${APP_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- 根据日志规范约定输出 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.tools" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.jdbc" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.apache.ibatis" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.mybatis.spring" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>