<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tools.life.dao.money.PaymentTypeMapper" >
	
	<!-- 获取收支类型数据 -->
	<select id="getPayTypeData" resultType="org.tools.life.domain.money.PaymentType">
		select pid, ptype, pname, top_pid topPid, mark from payment_type where ptype=#{ptype} order by pid asc
	</select>
	<!-- 新增类型 -->
	<insert id="insertPayType" parameterType="org.tools.life.domain.money.PaymentType">
		insert into payment_type (ptype, pname, top_pid, mark)
    	values (#{ptype,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, 
        #{topPid,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR})
	</insert>
	<!-- 修改类型 -->
	<update id="updatePayType" parameterType="org.tools.life.domain.money.PaymentType">
		update payment_type
	    set ptype = #{ptype,jdbcType=INTEGER},
	      pname = #{pname,jdbcType=VARCHAR},
	      mark = #{mark,jdbcType=VARCHAR}
	    where pid = #{pid,jdbcType=INTEGER}
	</update>
	<!-- 删除类型 -->
	<delete id="deletePayType">
		delete from payment_type where pid = #{pid}
	</delete>
	<select id="getPayTypeById" resultType="org.tools.life.domain.money.PaymentType">
		select pid, ptype, pname, top_pid topPid, mark from payment_type where pid=#{pid}
	</select>

    <!-- 根据父目录和类型获取下层收支类型 -->
    <select id="getChildPayType" resultType="org.tools.life.domain.money.PaymentType" parameterType="map">
        select pid, ptype, pname, top_pid topPid, mark from payment_type
        where top_pid=#{topPid} and ptype=#{ptype} order by pid asc
    </select>

</mapper>